* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  background-color: #a9c9ff;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.app .appContainer {
  padding: 40px;
}

.app .appContainer h1 {
  font-size: 52px;
}

.app .search-box {
  border-bottom: 1px solid #f5f5f585;
  border-left: 1px solid #f5f5f51f;
  border-right: 1px solid #ffffff28;
  background: linear-gradient(30deg, #b5caee00 0%, #ffffff1a 100%);
  border-radius: 20px;
  padding: 20px 30px;
  width: 80%;
  margin: 0 0 675px 0;
  max-width: 700px;
}

.app .search-box .search-bar {
  font-size: 30px;
  color: #070F1D;
  background: none;
  border: none;
  outline: none;
}

.app .search-box .search-bar::-webkit-input-placeholder {
  color: #070F1D;
}

.app .search-box .search-bar:-ms-input-placeholder {
  color: #070F1D;
}

.app .search-box .search-bar::-ms-input-placeholder {
  color: #070F1D;
}

.app .search-box .search-bar::placeholder {
  color: #070F1D;
}

.app main {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.app.day {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff00), to(#1129ff5e));
  background: linear-gradient(180deg, #ffffff00 0%, #1129ff5e 100%);
  background-color: #a9c9ff;
}

.app.day main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app.day .search-box {
  margin: 35px 0 75px 0;
}

.app.day .search-box .search-bar {
  color: #070F1D;
  width: 100%;
}

.app.day .search-box .search-bar::-webkit-input-placeholder {
  color: #070F1D;
}

.app.day .search-box .search-bar:-ms-input-placeholder {
  color: #070F1D;
}

.app.day .search-box .search-bar::-ms-input-placeholder {
  color: #070F1D;
}

.app.day .search-box .search-bar::placeholder {
  color: #070F1D;
}

.app.day .location-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app.day .location-box .location {
  border-bottom: 1px solid #f5f5f585;
  border-left: 1px solid #f5f5f51f;
  border-right: 1px solid #ffffff28;
  background: linear-gradient(30deg, #b5caee00 0%, #ffffff1a 100%);
  border-radius: 20px;
  padding: 20px 30px;
  margin: 20px 0;
  color: #070F1D;
  font-size: 30px;
  text-align: center;
}

.app.day .weather-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app.day .weather-box .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #f5f5f585;
  border-left: 1px solid #f5f5f51f;
  border-right: 1px solid #ffffff28;
  background: linear-gradient(30deg, #b5caee00 0%, #ffffff1a 100%);
  border-radius: 20px;
  padding: 20px 30px;
  border-radius: 20px;
  padding: 70px 50px;
}

.app.day .weather-box .container .date {
  color: #070F1D;
  text-align: center;
}

.app.day .weather-box .container .temp {
  color: #070F1D;
  font-size: 72px;
  text-align: center;
}

.app.day .weather-box .container .weather {
  color: #070F1D;
  font-size: 52px;
  text-align: center;
}

.app.day .weather-box .container .Clouds {
  background-image: url("../images/cloud.svg");
  width: 155px;
  height: 155px;
}

.app.day .weather-box .container .Rain {
  background-image: url("../images/rain.svg");
  width: 155px;
  height: 155px;
}

.app.day .weather-box .container .Clear {
  background-image: url("../images/sun.svg");
  width: 155px;
  height: 155px;
}

.app.day .weather-box .container .Snow {
  background-image: url("../images/snow.svg");
  width: 155px;
  height: 155px;
}

.app.day .forecast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app.day .forecast .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.app.day .forecast .container .day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #f5f5f585;
  border-left: 1px solid #f5f5f51f;
  border-right: 1px solid #ffffff28;
  background: linear-gradient(30deg, #b5caee00 0%, #ffffff1a 100%);
  border-radius: 20px;
  padding: 20px 30px;
  margin: 30px;
  width: 250px;
  padding: 50px 30px;
}

.app.day .forecast .container .day div {
  color: #070F1D;
}

.app.day .forecast .container .day .date {
  font-size: 30px;
  text-align: center;
}

.app.day .forecast .container .day .temp {
  margin-top: 10px;
  font-size: 30px;
}

.app.day .forecast .container .day .Clouds {
  background-image: url("../images/cloud.svg");
  width: 100px;
  height: 100px;
}

.app.day .forecast .container .day .Rain {
  background-image: url("../images/rain.svg");
  width: 100px;
  height: 100px;
}

.app.day .forecast .container .day .Clear {
  background-image: url("../images/sun.svg");
  width: 100px;
  height: 100px;
}

.app.day .forecast .container .day .Snow {
  background-image: url("../images/snow.svg");
  width: 100px;
  height: 100px;
}

.app.night {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff00), to(#1129ff5e));
  background: linear-gradient(180deg, #ffffff00 0%, #1129ff5e 100%);
  background-color: #070f1d;
}

.app.night main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app.night .search-box {
  margin: 35px 0 75px 0;
}

.app.night .search-box .search-bar {
  color: #ffffff;
  width: 100%;
}

.app.night .search-box .search-bar::-webkit-input-placeholder {
  color: #ffffff;
}

.app.night .search-box .search-bar:-ms-input-placeholder {
  color: #ffffff;
}

.app.night .search-box .search-bar::-ms-input-placeholder {
  color: #ffffff;
}

.app.night .search-box .search-bar::placeholder {
  color: #ffffff;
}

.app.night .location-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app.night .location-box .location {
  border-bottom: 1px solid #f5f5f585;
  border-left: 1px solid #f5f5f51f;
  border-right: 1px solid #ffffff28;
  background: linear-gradient(30deg, #b5caee00 0%, #ffffff1a 100%);
  border-radius: 20px;
  padding: 20px 30px;
  margin: 20px 0;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}

.app.night .weather-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app.night .weather-box .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #f5f5f585;
  border-left: 1px solid #f5f5f51f;
  border-right: 1px solid #ffffff28;
  background: linear-gradient(30deg, #b5caee00 0%, #ffffff1a 100%);
  border-radius: 20px;
  padding: 20px 30px;
  border-radius: 20px;
  padding: 70px 50px;
}

.app.night .weather-box .container .date {
  color: #ffffff;
  text-align: center;
}

.app.night .weather-box .container .temp {
  color: #ffffff;
  font-size: 72px;
  text-align: center;
}

.app.night .weather-box .container .weather {
  color: #ffffff;
  font-size: 52px;
  text-align: center;
}

.app.night .weather-box .container .Clouds {
  background-image: url("../images/night-cloud.svg");
  width: 155px;
  height: 155px;
}

.app.night .weather-box .container .Rain {
  background-image: url("../images/night-rain.svg");
  width: 155px;
  height: 155px;
}

.app.night .weather-box .container .Clear {
  background-image: url("../images/night-moon.svg");
  width: 155px;
  height: 155px;
}

.app.night .weather-box .container .Snow {
  background-image: url("../images/night-snow.svg");
  width: 155px;
  height: 155px;
}

.app.night .forecast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app.night .forecast .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.app.night .forecast .container .day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #f5f5f585;
  border-left: 1px solid #f5f5f51f;
  border-right: 1px solid #ffffff28;
  background: linear-gradient(30deg, #b5caee00 0%, #ffffff1a 100%);
  border-radius: 20px;
  padding: 20px 30px;
  margin: 30px;
  width: 250px;
  padding: 50px 30px;
}

.app.night .forecast .container .day div {
  color: #ffffff;
}

.app.night .forecast .container .day .date {
  font-size: 30px;
  text-align: center;
}

.app.night .forecast .container .day .temp {
  margin-top: 10px;
  font-size: 30px;
}

.app.night .forecast .container .day .Clouds {
  background-image: url("../images/night-cloud.svg");
  width: 100px;
  height: 100px;
}

.app.night .forecast .container .day .Rain {
  background-image: url("../images/night-rain.svg");
  width: 100px;
  height: 100px;
}

.app.night .forecast .container .day .Clear {
  background-image: url("../images/night-moon.svg");
  width: 100px;
  height: 100px;
}

.app.night .forecast .container .day .Snow {
  background-image: url("../images/night-snow.svg");
  width: 100px;
  height: 100px;
}
/*# sourceMappingURL=index.css.map */