@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #FCFCFC;
}

.shadow-text {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.282);
}

.shadow-text-large {
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.323);
}

.shadow-box {
  -webkit-box-shadow: 5px 4px 6px #00000006;
  box-shadow: 5px 4px 6px #00000006;
}

.menu {
  background: #FCFCFC;
  width: 100vw;
  height: 120px;
  position: fixed;
  z-index: 100;
  top: -100px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu:hover, .menu:focus {
  -webkit-transform: translate3d(0, 100px, 0);
          transform: translate3d(0, 100px, 0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card {
  position: relative;
  width: 100%;
  max-width: 640px;
  border-radius: 24px;
  height: 400px;
  -webkit-transition: background-color 0.8s ease;
  transition: background-color 0.8s ease;
  background: linear-gradient(170deg, rgba(255, 255, 255, 0.576) 0%, #ffffff00 100%);
}

.card.day {
  background-color: #408cff;
  -webkit-box-shadow: 9px 8px 19px 2px #227CD65d;
  box-shadow: 9px 8px 19px 2px #227CD65d;
}

.card.day .Clouds {
  background-image: url("../images/cloud.png");
  width: 155px;
  height: 155px;
  background-size: 155px;
  background-repeat: no-repeat;
}

.card.day .Rain {
  background-image: url("../images/rain.png");
  width: 155px;
  height: 155px;
  background-size: 155px;
  background-repeat: no-repeat;
}

.card.day .Clear {
  background-image: url("../images/sun.png");
  width: 155px;
  height: 155px;
  background-size: 155px;
  background-repeat: no-repeat;
}

.card.day .Snow {
  background-image: url("../images/snow.png");
  width: 155px;
  height: 155px;
  background-size: 155px;
  background-repeat: no-repeat;
}

.card.night {
  background-color: #2f0dac;
  -webkit-box-shadow: 9px 8px 19px 2px #6422d65d;
  box-shadow: 9px 8px 19px 2px #6422d65d;
}

.card.night .Clouds {
  background-image: url("../images/night-cloud.png");
  width: 155px;
  height: 155px;
  background-size: 155px;
  background-repeat: no-repeat;
}

.card.night .Rain {
  background-image: url("../images/night-rain.png");
  width: 155px;
  height: 155px;
  background-size: 155px;
  background-repeat: no-repeat;
}

.card.night .Clear {
  background-image: url("../images/night-moon.png");
  width: 155px;
  height: 155px;
  background-size: 155px;
  background-repeat: no-repeat;
}

.card.night .Snow {
  background-image: url("../images/night-snow.png");
  width: 155px;
  height: 155px;
  background-size: 155px;
  background-repeat: no-repeat;
}

.card-image {
  position: absolute;
  top: -50px;
  left: -50px;
}

.small-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 115px;
  height: 180px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 40px;
  border-radius: 24px;
  background: linear-gradient(170deg, rgba(255, 255, 255, 0.576) 0%, #ffffff00 100%);
  -webkit-box-shadow: 6px 6px 10px #00000015;
  box-shadow: 6px 6px 10px #00000015;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.small-card-container.day .Clouds {
  background-image: url("../images/cloud.png");
  width: 70px;
  height: 70px;
  background-size: 70px;
  background-repeat: no-repeat;
}

.small-card-container.day .Rain {
  background-image: url("../images/rain.png");
  width: 70px;
  height: 70px;
  background-size: 70px;
  background-repeat: no-repeat;
}

.small-card-container.day .Clear {
  background-image: url("../images/sun.png");
  width: 70px;
  height: 70px;
  background-size: 70px;
  background-repeat: no-repeat;
}

.small-card-container.day .Snow {
  background-image: url("../images/snow.png");
  width: 70px;
  height: 70px;
  background-size: 70px;
  background-repeat: no-repeat;
}

.small-card-container.day .small-card.active {
  background-color: #408cff;
  color: white;
}

.small-card-container.night .Clouds {
  background-image: url("../images/night-cloud.png");
  width: 70px;
  height: 70px;
  background-size: 70px;
  background-repeat: no-repeat;
}

.small-card-container.night .Rain {
  background-image: url("../images/night-rain.png");
  width: 70px;
  height: 70px;
  background-size: 70px;
  background-repeat: no-repeat;
}

.small-card-container.night .Clear {
  background-image: url("../images/night-moon.png");
  width: 70px;
  height: 70px;
  background-size: 70px;
  background-repeat: no-repeat;
}

.small-card-container.night .Snow {
  background-image: url("../images/night-snow.png");
  width: 70px;
  height: 70px;
  background-size: 70px;
  background-repeat: no-repeat;
}

.small-card-container.night .small-card.active {
  background-color: #2f0dac;
  color: white;
}

.slider-content {
  background-color: #FCFCFC;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .slider {
    background-color: transparent;
  }
  .slider:hover {
    background-color: transparent;
  }
  .slider::-webkit-scrollbar {
    background-color: transparent;
  }
  .slider::-webkit-scrollbar-track {
    display: none;
  }
  .slider::-webkit-scrollbar-thumb {
    background-color: inherit;
  }
}
/*# sourceMappingURL=index.css.map */