@tailwind base;
@tailwind components;
@tailwind utilities;

$darkBackground: #070f1d;
$lightBackground: #a9c9ff;
$lightText: #ffffff;
$darkText: #070F1D;
$ligtBox: #A0BBE9;
$darkBox: #111655;
$white: #ffffff;

$largeText: 72px;
$normalText: 52px;
$smallText: 30px;

$cloudsDay: "../images/cloud.svg";
$rainDay: "../images/rain.svg";
$clearDay: "../images/sun.svg";
$snowDay: "../images/snow.svg";

$cloudsNight: "../images/night-cloud.svg";
$rainNight: "../images/night-rain.svg";
$clearNight: "../images/night-moon.svg";
$snowNight: "../images/night-snow.svg";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight:600;
  font-family: Arial, Helvetica, sans-serif;
}

@mixin flexBox($align, $justify, $dir) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $dir;
}

@mixin glassTexture() {
  border-bottom: 1px solid #f5f5f585;
    border-left: 1px solid #f5f5f51f;
    border-right: 1px solid #ffffff28;
    background: linear-gradient(30deg, #b5caee00 0%, #ffffff1a 100%);
    border-radius: 20px;
    padding: 20px 30px;
}

@mixin img($url, $size) {
  background-image: url($url);
  width: $size;
  height: $size;
}

@mixin weather($backgroundColor, $textColor, $boxColor, $clouds, $rain, $clear, $snow) {

  main{
    @include flexBox(center, flex-start, column);
  }
 
  .search-box{
    margin: 35px 0 75px 0;

    .search-bar{
      color:  $textColor;
      width: 100%;
  
      &::placeholder{
      color:  $textColor;
      }
    }
  }

  background: linear-gradient(180deg, #ffffff00 0%, #1129ff5e 100%);
  background-color: $backgroundColor;

  .location-box{
    @include flexBox(center, center, column);

    .location{
      @include glassTexture();
      margin: 20px 0;
      color:   $textColor;
      font-size: $smallText;
      text-align: center;
    }
  }

  .weather-box{
    @include flexBox(center, center, column);

    .container{
      @include flexBox(center, center, column);

      @include glassTexture();
      border-radius: 20px;
      padding:70px 50px;

      .date{
        color:   $textColor;
        text-align: center;
      }

      .temp{
        color:   $textColor;
        font-size: $largeText;
        text-align: center;
      }
  
      .weather{
        color:   $textColor;
        font-size: $normalText;
        text-align: center;
      }
        
      .Clouds{
        @include img($clouds, 155px);
      }

      .Rain{
        @include img($rain, 155px);
      }

      .Clear{
        @include img($clear, 155px);
      }

      .Snow{
        @include img($snow, 155px);
      }

    }
  }

  .forecast{
    @include flexBox(center, center, column);

      .container{
        @include flexBox(center, center, row);
        flex-wrap: wrap;

        .day{
          // @include flexBox(center, space-between, column);
          @include glassTexture();
          margin: 30px;
          width: 250px;
          padding: 50px 30px;
  
          div{
            color: $textColor;
          }
  
          .date{
            font-size: $smallText;
            text-align: center;
          }
  
          .temp{
            margin-top: 10px;
            font-size: $smallText;
          }
  
          .Clouds{
            @include img($clouds, 100px);
          }
    
          .Rain{
            @include img($rain, 100px);
          }
    
          .Clear{
            @include img($clear, 100px);
          }
    
          .Snow{
            @include img($snow, 100px);
          }
      }
    }
  }
}

.app{
  background-color: $lightBackground;
  transition: 0.4s ease-out;

  .appContainer{
    padding: 40px;

    h1{
      font-size: $normalText;
    }
  }

  .search-box{
    @include glassTexture();
    width: 80%;
    margin: 0 0 675px 0;
    max-width: 700px;

    .search-bar{
      font-size: $smallText;
      color:  $darkText;
  
      background:none;
      border: none;
      outline: none;
  
      &::placeholder{
      color:  $darkText;
      }
    }
  }

  main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
}

.app.day{
  @include weather($lightBackground, $darkText, $ligtBox, $cloudsDay, $rainDay, $clearDay, $snowDay);
}

.app.night{
  @include weather($darkBackground, $lightText, $darkBox, $cloudsNight, $rainNight, $clearNight, $snowNight);
}

#progress-container{
  transition: all 0.5s ease;
}

svg {
  transition: all 0.5s ease;

	display: block;
	width: 140px;
	height: 140px;
	circle {
		fill: none;
		stroke-width: 12px;
		&:nth-child(1) {
			stroke: rgba(white, .2);;
		}
		&:nth-child(2) {
			stroke: white;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-dasharray: 402.124;
			stroke-dashoffset: 402.124;
			transition: all 150ms ease-out;
		}
	}
	@for $i from 1 through 100 {
		&[percent="#{$i}"] {
			circle {
				&:nth-child(2) {
					stroke-dashoffset: #{402.124 - (402.124 * 	($i/100))};
				}
			}
		}
	}
}



