*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.app{
  background-image: url(./images/moon.jpg);
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}

.app.warm{
  background-image: url(./images/sun.jpg);
}

main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0, 0.2), rgba(0,0,0,0.75));
  padding: 25px;
}

.search-box{
  width: 100%;
  margin-bottom: 75px;
}

.search-box .search-bar{
  display: block;
  width: 100%;
  padding:15px;

  appearance: none;
  background:none;
  border: none;
  outline: none;

  background-color: white;
  border-radius: 20px;
}

.location-box .location{
  color: white;
  font-size: 32px;
  text-align: center;
}

.location-box .date{
  color: white;
  font-size: 32px;
  text-align: center;
}

.weather-box .temp{
  color: white;
  font-size: 32px;
  text-align: center;
}

.weather-box .weather{
  color: white;
  font-size: 32px;
  text-align: center;
}