* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 600;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  background-color: #a9c9ff;
  background-size: cover;
  background-position: bottom;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.app .appContainer {
  padding: 40px;
}

.app .appContainer h1 {
  font-size: 52px;
}

.app .search-box {
  border-bottom: 1px solid #f5f5f585;
  border-left: 1px solid #f5f5f51f;
  border-right: 1px solid #ffffff28;
  background: linear-gradient(30deg, rgba(181, 202, 238, 0) 0%, rgba(255, 255, 255, 0.103) 100%);
  border-radius: 20px;
  margin-bottom: 675px;
  width: 80%;
  max-width: 700px;
  text-align: center;
}

.app .search-box .search-bar {
  display: block;
  padding: 15px 20px;
  font-size: 30px;
  color: black;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  outline: none;
  border-radius: 20px;
}

.app .search-box .search-bar::-webkit-input-placeholder {
  color: black;
}

.app .search-box .search-bar:-ms-input-placeholder {
  color: black;
}

.app .search-box .search-bar::-ms-input-placeholder {
  color: black;
}

.app .search-box .search-bar::placeholder {
  color: black;
}

.app main {
  min-height: 100vh;
  width: 100%;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.app.day {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(17, 41, 255, 0.37)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(17, 41, 255, 0.37) 100%);
  background-color: #a9c9ff;
}

.app.day main {
  min-height: 100vh;
  width: 100%;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app.day .search-box {
  border-bottom: 1px solid #f5f5f585;
  border-left: 1px solid #f5f5f51f;
  border-right: 1px solid #ffffff28;
  background: linear-gradient(30deg, rgba(181, 202, 238, 0) 0%, rgba(255, 255, 255, 0.103) 100%);
  border-radius: 20px;
  margin-bottom: 75px;
  width: 80%;
  max-width: 700px;
  text-align: center;
}

.app.day .search-box .search-bar {
  display: block;
  padding: 15px 20px;
  font-size: 30px;
  color: #070F1D;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  outline: none;
  border-radius: 20px;
}

.app.day .search-box .search-bar::-webkit-input-placeholder {
  color: #070F1D;
}

.app.day .search-box .search-bar:-ms-input-placeholder {
  color: #070F1D;
}

.app.day .search-box .search-bar::-ms-input-placeholder {
  color: #070F1D;
}

.app.day .search-box .search-bar::placeholder {
  color: #070F1D;
}

.app.day .location-box {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app.day .location-box .location {
  border-bottom: 1px solid #f5f5f585;
  border-left: 1px solid #f5f5f51f;
  border-right: 1px solid #ffffff28;
  background: linear-gradient(30deg, rgba(181, 202, 238, 0) 0%, rgba(255, 255, 255, 0.103) 100%);
  border-radius: 20px;
  padding: 20px 30px;
  margin-top: 20px;
  color: #070F1D;
  font-size: 30px;
  text-align: center;
}

.app.day .weather-box {
  width: 100vw;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app.day .weather-box .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #f5f5f585;
  border-left: 1px solid #f5f5f51f;
  border-right: 1px solid #ffffff28;
  background: linear-gradient(30deg, rgba(181, 202, 238, 0) 0%, rgba(255, 255, 255, 0.103) 100%);
  border-radius: 20px;
  padding: 70px 50px;
}

.app.day .weather-box .container .date {
  color: #070F1D;
  text-align: center;
}

.app.day .weather-box .container .Clouds {
  background-image: url("../src/images/cloud.svg");
  width: 155px;
  height: 155px;
}

.app.day .weather-box .container .Rain {
  background-image: url("../src/images/rain.svg");
  width: 155px;
  height: 155px;
}

.app.day .weather-box .container .Clear {
  background-image: url("../src/images/sun.svg");
  width: 155px;
  height: 155px;
}

.app.day .weather-box .container .Snow {
  background-image: url("../src/images/snow.svg");
  width: 155px;
  height: 155px;
}

.app.day .weather-box .container .temp {
  color: #070F1D;
  font-size: 72px;
  text-align: center;
}

.app.day .weather-box .container .weather {
  color: #070F1D;
  font-size: 52px;
  text-align: center;
}

.app.day .forecast {
  margin-top: 20px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app.day .forecast .container {
  width: 90%;
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.app.day .forecast .container .day {
  margin: 30px;
  width: 250px;
  border-bottom: 1px solid #f5f5f585;
  border-left: 1px solid #f5f5f51f;
  border-right: 1px solid #ffffff28;
  background: linear-gradient(30deg, rgba(181, 202, 238, 0) 0%, rgba(255, 255, 255, 0.103) 100%);
  padding: 50px 30px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app.day .forecast .container .day div {
  color: #070F1D;
}

.app.day .forecast .container .day .date {
  font-size: 30px;
  text-align: center;
}

.app.day .forecast .container .day .temp {
  margin-top: 10px;
  font-size: 30px;
}

.app.day .forecast .container .day .Clouds {
  background-image: url("../src/images/cloud.svg");
  width: 100px;
  height: 100px;
}

.app.day .forecast .container .day .Rain {
  background-image: url("../src/images/rain.svg");
  width: 100px;
  height: 100px;
}

.app.day .forecast .container .day .Clear {
  background-image: url("../src/images/sun.svg");
  width: 100px;
  height: 100px;
}

.app.day .forecast .container .day .Snow {
  background-image: url("../src/images/snow.svg");
  width: 100px;
  height: 100px;
}

.app.night {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(17, 41, 255, 0.37)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(17, 41, 255, 0.37) 100%);
  background-color: #070f1d;
}

.app.night main {
  min-height: 100vh;
  width: 100%;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app.night .search-box {
  border-bottom: 1px solid #f5f5f585;
  border-left: 1px solid #f5f5f51f;
  border-right: 1px solid #ffffff28;
  background: linear-gradient(30deg, rgba(181, 202, 238, 0) 0%, rgba(255, 255, 255, 0.103) 100%);
  border-radius: 20px;
  margin-bottom: 75px;
  width: 80%;
  max-width: 700px;
  text-align: center;
}

.app.night .search-box .search-bar {
  display: block;
  padding: 15px 20px;
  font-size: 30px;
  color: #ffffff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  outline: none;
  border-radius: 20px;
}

.app.night .search-box .search-bar::-webkit-input-placeholder {
  color: #ffffff;
}

.app.night .search-box .search-bar:-ms-input-placeholder {
  color: #ffffff;
}

.app.night .search-box .search-bar::-ms-input-placeholder {
  color: #ffffff;
}

.app.night .search-box .search-bar::placeholder {
  color: #ffffff;
}

.app.night .location-box {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app.night .location-box .location {
  border-bottom: 1px solid #f5f5f585;
  border-left: 1px solid #f5f5f51f;
  border-right: 1px solid #ffffff28;
  background: linear-gradient(30deg, rgba(181, 202, 238, 0) 0%, rgba(255, 255, 255, 0.103) 100%);
  border-radius: 20px;
  padding: 20px 30px;
  margin-top: 20px;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}

.app.night .weather-box {
  width: 100vw;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app.night .weather-box .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #f5f5f585;
  border-left: 1px solid #f5f5f51f;
  border-right: 1px solid #ffffff28;
  background: linear-gradient(30deg, rgba(181, 202, 238, 0) 0%, rgba(255, 255, 255, 0.103) 100%);
  border-radius: 20px;
  padding: 70px 50px;
}

.app.night .weather-box .container .date {
  color: #ffffff;
  text-align: center;
}

.app.night .weather-box .container .Clouds {
  background-image: url("../src/images/night-cloud.svg");
  width: 155px;
  height: 155px;
}

.app.night .weather-box .container .Rain {
  background-image: url("../src/images/night-rain.svg");
  width: 155px;
  height: 155px;
}

.app.night .weather-box .container .Clear {
  background-image: url("../src/images/night-moon.svg");
  width: 155px;
  height: 155px;
}

.app.night .weather-box .container .Snow {
  background-image: url("../src/images/night-snow.svg");
  width: 155px;
  height: 155px;
}

.app.night .weather-box .container .temp {
  color: #ffffff;
  font-size: 72px;
  text-align: center;
}

.app.night .weather-box .container .weather {
  color: #ffffff;
  font-size: 52px;
  text-align: center;
}

.app.night .forecast {
  margin-top: 20px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app.night .forecast .container {
  width: 90%;
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.app.night .forecast .container .day {
  margin: 30px;
  width: 250px;
  border-bottom: 1px solid #f5f5f585;
  border-left: 1px solid #f5f5f51f;
  border-right: 1px solid #ffffff28;
  background: linear-gradient(30deg, rgba(181, 202, 238, 0) 0%, rgba(255, 255, 255, 0.103) 100%);
  padding: 50px 30px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app.night .forecast .container .day div {
  color: #ffffff;
}

.app.night .forecast .container .day .date {
  font-size: 30px;
  text-align: center;
}

.app.night .forecast .container .day .temp {
  margin-top: 10px;
  font-size: 30px;
}

.app.night .forecast .container .day .Clouds {
  background-image: url("../src/images/night-cloud.svg");
  width: 100px;
  height: 100px;
}

.app.night .forecast .container .day .Rain {
  background-image: url("../src/images/night-rain.svg");
  width: 100px;
  height: 100px;
}

.app.night .forecast .container .day .Clear {
  background-image: url("../src/images/night-moon.svg");
  width: 100px;
  height: 100px;
}

.app.night .forecast .container .day .Snow {
  background-image: url("../src/images/night-snow.svg");
  width: 100px;
  height: 100px;
}
/*# sourceMappingURL=index.css.map */