$darkBackground: #070f1d;
$lightBackground: #a9c9ff;
$lightText: #B5CAEE;
$darkText: #070F1D;
$ligtBox: #A0BBE9;
$darkBox: #111655;
$white: #ffffff;

$largeText: 72px;
$normalText: 52px;
$smallText: 32px;

$cloudsDay: "../src/images/cloud.svg";
$rainDay: "../src/images/rain.svg";
$clearDay: "../src/images/sun.svg";
$snowDay: "../src/images/snow.svg";

$cloudsNight: "../src/images/night-cloud.svg";
$rainNight: "../src/images/night-rain.svg";
$clearNight: "../src/images/night-moon.svg";
$snowNight: "../src/images/night-snow.svg";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight:600;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

@mixin weather($backgroundColor, $textColor, $boxColor, $clouds, $rain, $clear, $snow) {
 
  .search-box{
    border-bottom: 1px solid #f5f5f585;
    border-left: 1px solid #f5f5f51f;
    border-right: 1px solid #ffffff28;
    background: linear-gradient(30deg, rgba(181,202,238,0) 0%, rgba(255, 255, 255, 0.103) 100%);
    border-radius: 20px;
    margin-bottom: 75px;
    text-align: center;
  }

  .search-box .search-bar{
   
    display: block;
    padding:15px 20px;
    font-size: $smallText;
    color:  $textColor;

    appearance: none;
    background:none;
    border: none;
    outline: none;
    border-radius: 20px;

    &::placeholder{
    color:  $textColor;
    }
  }

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(17, 41, 255, 0.37) 100%);
    background-color: $backgroundColor;

    .location-box{
      width: 100vw;
      display: flex;
      justify-content: center;
    }

    .location-box .location{
    
    border-bottom: 1px solid #f5f5f585;
    border-left: 1px solid #f5f5f51f;
    border-right: 1px solid #ffffff28;
    background: linear-gradient(30deg, rgba(181,202,238,0) 0%, rgba(255, 255, 255, 0.103) 100%);
    border-radius: 20px;
    padding: 30px;
    margin-top: 20px;
    color:   $textColor;
    font-size: $smallText;
    text-align: center;
    }

 

    .weather-box{
      width: 100vw;
      margin-top: 30px;
      
      display: flex;
      align-items:center;
      justify-content: center;
      flex-direction: column;

      .container{
        display: flex;
        align-items:center;
        justify-content: center;
        flex-direction: column;

        border-bottom: 1px solid #f5f5f585;
        border-left: 1px solid #f5f5f51f;
        border-right: 1px solid #ffffff28;
        background: linear-gradient(30deg, rgba(181,202,238,0) 0%, rgba(255, 255, 255, 0.103) 100%);
        border-radius: 20px;
        padding:90px 70px;

        .date{
          color:   $textColor;
          text-align: center;
          }
  
        .Clouds{
          background-image: url($clouds);
          width: 155px;
          height: 155px;
        }
  
        .Rain{
          background-image: url($rain);
          width: 155px;
          height: 155px;
        }
  
        .Clear{
          background-image: url($clear);
          width: 155px;
          height: 155px;
        }
  
        .Snow{
          background-image: url($snow);
          width: 155px;
          height: 155px;
        }

        .temp{
          color:   $textColor;
          font-size: $largeText;
          text-align: center;
        }
    
        .weather{
          color:   $textColor;
          font-size: $normalText;
          text-align: center;
        }
      }
    }

    .forecast{
      margin-top: 70px;
      width:100vw;
      display:flex;
      justify-content: space-around;
      align-items: center;

      .day{
        border-bottom: 1px solid #f5f5f585;
        border-left: 1px solid #f5f5f51f;
        border-right: 1px solid #ffffff28;
        background: linear-gradient(30deg, rgba(181,202,238,0) 0%, rgba(255, 255, 255, 0.103) 100%);
        padding: 90px 50px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        div{
          color: $textColor;
        }

        .date{
          font-size: $smallText;
        }

        .temp{
          margin-top: 10px;
          font-size: $smallText;
        }

        .Clouds{
          background-image: url($clouds);
          width: 100px;
          height: 100px;
        }
  
        .Rain{
          background-image: url($rain);
          width: 100px;
          height: 100px;
        }
  
        .Clear{
          background-image: url($clear);
          width: 100px;
          height: 100px;
        }
  
        .Snow{
          background-image: url($snow);
          width: 100px;
          height: 100px;
        }
      }
    }
}

.app{
  background-color: white;
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}

.app.day{

  @include weather($lightBackground, $darkText, $ligtBox, $cloudsDay, $rainDay, $clearDay, $snowDay);
  
}

.app.night{

  @include weather($darkBackground, $white, $darkBox, $cloudsNight, $rainNight, $clearNight, $snowNight);

}

main{
  min-height: 100vh;
  width: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



